* {
    margin: 0;
    padding: 0;
}
.inputField {
    padding: 0.5rem;
    width: 480px;
    border-radius: 6px;
}
.searchButton {
    background: #171616;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
    border-radius: 8px; 
}
.searchButton:hover {
    background: #494848;
    color: white;

}